body 
{
    /*background-color: lightgray;*/
    background-color: white;
}


/*.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    color:black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid rgb(247, 0, 0);
}*/

.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: black;
}
.carousel-caption
{
    color: black;
}
.btn
{
    background-color: rgb(0, 240, 140);
    color: black;
}